@model AssignmentForMCСSA.Data.Models.Dto.ChangePasswordDto
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <h1 class="h3 mb-3 fw-normal text-md-center">
                @_localization.GetKey("ChangePassword")
            </h1>
            <h4 class="text-danger text-md-center">@ViewData["Title"]</h4>
            <form method="post"
                  action="ChangePassword"
                  class="mt-1"
            >
                <div class="form-floating mt-2">
                    <input type="text" class="form-control" asp-for="Id" readonly>
                    <label>
                        Id
                    </label>
                </div>
                <div class="form-floating mt-2">
                    <input 
                        asp-for="CurrentPassword"
                        type="password"
                        class="form-control"
                    >
                    <label>
                        @_localization.GetKey("CurrentPassword")
                    </label>
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input 
                        asp-for="NewPassword"
                        type="password"
                        class="form-control"
                    >
                    <label>
                        @_localization.GetKey("NewPassword")
                    </label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input 
                        asp-for="PasswordConfirm"
                        type="password"
                        class="form-control"
                    >
                    <label>
                        @_localization.GetKey("PasswordConfirm")
                    </label>
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>

                <button class="w-100 btn btn-primary mt-2"
                        type="submit">
                    @_localization.GetKey("Save")
                </button>
            </form>
            <p class="mt-5 text-center">
                <a style="max-width: 8rem; border-radius: 10px"
                   href="/Account/GetAccounts">
                    @_localization.GetKey("Accounts")
                </a>
            </p>
        </div>
    </div>
</div>